@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    background-color: #FFF;
    scroll-behavior: smooth;
    scrollbar-color: #F0A83E;
    scrollbar-width: thin;
}

html::-webkit-scrollbar {
    width: 8px;
}

html::-webkit-scrollbar-track {
    background: #222222;
}


html::-webkit-scrollbar-thumb {
    background-color: #F0A83E;
}

::selection {
    background-color: #F0A83E;
    color: #FFF;
}

/*****      Header      *****/

.header {
    display: flex;
}

.header-container-top {
    align-items: center;
    background-color: #222222;
    color: #F3F3F3;
    display: flex;
    font-weight: 400;
    justify-content: space-between;
    padding: 10px;
}

.header-list {
    display: flex;
    justify-content: space-between;
    line-height: 1.5em;
    list-style: none;
    padding: 5px;
    background-color: #222222;
    border: none;
    color: #FFF;
    font-size: 14px;
    cursor: pointer;
}

.header-container-nav {
    align-items: center;
    background-color: #F0A83E;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

.logo {
    align-items: center;
    width: 200px;
}

.burger-menu{
    display: none;
    position: relative;
    z-index: -10;
    color: #F0A83E;
}

.nav-links {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.nav-links>ul {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 400;
    justify-content: space-between;
    list-style: none;
    margin-right: 10px;
    padding: 10px;
}

.nav-links>ul>li {
    margin-right: 10px;
    margin-top: 5px;
}


/*****      Main Sections      *****/

.main {
    display: flex;
    flex-direction: column;
}

#Banner {
    align-items: flex-end;
    background-image: url(../img/bowl-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 409px;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

.banner-textos {
    color: #3C2313;
    margin: 10px;
    text-align: center;
}

#Banner h2 {
    background-color: #FFF;
    font-size: 30px;
    padding: 15px;
}

#Banner p {
    font-size: 20px;
    font-weight: 400;
    padding: 15px;
}

#Banner button {
    background-color: #F0A83E;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    height: 60px;
    text-align: center;
    width: 180px;
}

#Productos {
    color: #3C2313;
    margin: 20px;
    padding: 10px;
    text-align: center;
}

#patita-productos{
    margin: 10px;
}

.cat-productos {
    align-items: center;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    word-spacing: 10px
}

#Productos h1 {
    color: #3C2313;
    font-size: 40px;
    font-weight: 700;
}

.price {
    color: #F0A83E;
}

.card-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-evenly;
    margin: 2%;
    text-align: center;
}

.card {
    background-color: #FBFAF6;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    height: auto;
    padding: 2em;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    margin: 10px;
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/**     Formulario      **/
.form form{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form > h2 {
    font-weight: bold;
    margin: 20px;
    font-size: 30px;
}

form > input {
    background-color: #3C2313;
    border-radius: 24px;
    border: none;
    color: #FFF;
    height: 5em;
    margin: 10px;
    padding: 20px;
    width: 43%;
}

form > input::placeholder{
    color: #FFF;
    font-size: 16px;
}

.btn {
    flex-direction: row;
    margin: 20px;
    width: 100%;
}

.btn-reset,
.btn-send{
    border-radius: 50px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    height: 2.7em;
    margin: 5px;
    width: 15%;
}

.btn-reset{
    background-color: #8A8787;
}

.btn-send{
    background-color: #F0A83E;
}

/*****      Footer      *****/

.pre-footer{
    align-items: center;
    background-color: #F0A83E;
    display: flex;
    height: 4em;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}

    .pre-1{
        display: flex;
        width: 100%;
    }

    .pre-1 > img {
        margin-right: 15px;
    }

    .pre-1 > h3 {
        color: #FFF;
        font-weight: 400;
        letter-spacing: .1em;
    }

.pre-2 {
    display: flex;
    width: 100%;
}

    .pre-2 > input {
        background-color:  #fff;
        border-radius: 10px;
        border: none;
        height: 40px;
        margin-right: 10px;
        padding: 10px;
        width: 80%;
    }

    .pre-2 > button {
        background-color: #3C2313;
        border-radius: 15px;
        border: none;
        color: #FFF;
        font-size: 16px;
        width: 18%;
    }

footer {
    align-items: center;
    background-color: #3C2313;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.logo-footer {
    margin-right: 10%;
}

.icons {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.icons-contacto{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.contacto{
    align-items: center;
    height: auto;
    justify-content: space-between;
    line-height: 2.5em;
    margin: 10px;
    padding:10px;
}

.icons i {
    font-size: 50px;
    margin: 15px;
}

footer p {
    color: #8A8787;
}

.footer-end {
    align-items: center;
    background-color: #222222;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    height: auto;
    padding: 10px;
    text-align: center;
    width: 100%;
}

/**      RESPONSIVE      **/

/**     Tablet      **/
@media screen and (max-width: 768px) {
    .header-container-nav {
        align-items: center;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
    }

    .burger-menu {
        color: #FFF;
        display: inline-block;
        font-size: 1.5em;
        padding: 15px;
    }

    .nav-links>ul {
        display: none;
    }
    
    form > input {
        width: 90%;
    }

    .btn{
        display: flex;
    }

    .btn-reset,
    .btn-send {
        width: 50%;
        height: 40px;
        font-size: 15px;
    }
    /*  Pre-Footer  */
    .pre-footer {
        flex-direction: column;
        justify-content: center;
        height: 90px;
        padding: 20px;
    }

    .pre-1,
    .pre-2{
        justify-content: center;
        margin: 5px;
    }
    .pre-1 > h3 {
        font-size: 1rem;
    }

    .pre-2 > input {
        width: 60%;
    }

    .pre-2 > button {
        width: 30%;
    }

    /*  Footer  */
    footer{
        flex-direction: column-reverse;
    }

    .icons{
        margin-top: 0px;
    }
    .logo-footer {
        margin: 20px;
        height: auto;
        width: 10em;
    }
}

/**     Mobile      **/
@media screen and (max-width: 480px) {
    .burger-menu {
        display: inline-block;
        color: #FFF;
    }

    .nav-links>ul {
        display: none;
    }

    #Banner {
        align-items: center;
    }
}